/**
 *
 * The style of the "home" page
 *
**/

.panelOption {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    border: solid 2px var(--background-blend);
    background-color: var(--main-background);
    border-radius: 12px;
    padding: 24px;
    margin: 28px 12px;
    display: flex;
    flex-direction: column;
}

.panelOption+.panelGroup {
    margin-top: -28px
}

.panelGroup:not(:empty)+.panelOption {
    margin-top: 0px;
}

.panelOption .optionTitle {
    margin-right: auto;
    font-weight: 700;
}

.panelOption .optionContent {
    padding-top: 24px;
    margin-top: auto;
    max-width: 100%;
}

.sectionsContainer {
    position: relative;
    width: 100%;
    padding: 0px var(--page-margin);
    display: grid;
    grid-template-columns: calc(100% + 2 * var(--page-margin));
    grid-auto-columns: calc(100% + 2 * var(--page-margin));
    grid-auto-flow: column;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    min-height: calc(100 * var(--vh) - 2 * var(--page-margin) - var(--globalbar--height) - var(--globalfooter--height));
}

:root[data-touch-input=false] .sectionsContainer {
    overflow: hidden;
}

.sectionsContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.sectionsContainer .homeSection {
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.sectionsContainer .homeSection .sectionContent {
    overflow: visible hidden;
    padding: 0px var(--page-margin);
}

.panelGroup {
    display: flex;
}

.panelGroup:has(> :last-child:nth-child(2)) .panelOption {
    max-width: calc(50% - 2 * 24px);
}

@media (pointer:none),
(pointer:coarse),
screen and (max-width: 920px),
screen and (max-height: 450px) {
    .panelGroup {
        display: unset;
    }
    .panelGroup .panelOption {
        max-width: unset !important;
    }
}

.panelGroup:empty {
    display: none;
}

.optionsGroup {
    margin: 0px;
}

.optionsGroup .option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px 24px;
    cursor: pointer;
    gap: 16px;
    text-align: left;
}

.optionsGroup .option:hover,
.optionsGroup .option:active {
    background-color: var(--background-blend);
}