/**
 *
 * The style of the "home" page
 *
**/

.panelOption {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    border: solid 2px var(--background-blend);
    background-color: var(--main-background);
    border-radius: 12px;
    padding: 24px;
    margin: 14px 12px;
}

:not(.panelOption)+.panelOption {
    margin-top: 28px;
}

.panelOption:last-of-type {
    margin-bottom: 28px;
}

.panelOption .optionTitle {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

.panelOption .optionContent {
    margin: 24px;
}

.sectionsContainer {
    position: relative;
    width: 100%;
    padding: 0px var(--page-margin);
    display: grid;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    min-height: 50%;
}

.sectionsContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.sectionsContainer .homeSection {
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    opacity: 0;
    transition: opacity 0.04s linear;
}

.sectionsContainer .homeSection .sectionContent {
    overflow: visible hidden;
}