DirectoryIndex index.php index.html

ErrorDocument 403 /error/403

ErrorDocument 404 /error/404

ErrorDocument 500 /error/500

Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /

# Redirect all pages to the index.html file
RewriteCond %{REQUEST_URI} !^/index.html$
RewriteCond %{REQUEST_URI} !(\.js|\.webmanifest|\.txt)$
RewriteCond %{REQUEST_URI} !^(/assets)
RewriteCond %{REQUEST_URI} !^(/images)
RewriteCond %{REQUEST_URI} !^(/libraries)
RewriteCond %{REQUEST_URI} !^(/lists)
RewriteCond %{REQUEST_URI} !^(/const)
RewriteCond %{REQUEST_URI} !^(/APIs)
RewriteCond %{REQUEST_URI} !^(/comm)
RewriteCond %{REQUEST_URI} !^(/cdn-cgi)
RewriteCond %{REQUEST_URI} !^(/phpmyadmin)
RewriteRule .* /index.html [L,NC]

<IfModule mod_headers.c>
	Header always set   X-XSS-Protection                "1; mode=block"
	Header always set   X-Frame-Options                 "SAMEORIGIN"
	Header always set   Strict-Transport-Security       "max-age=63072000; includeSubDomains; preload"
	Header always set   Content-Security-Policy         "default-src 'self' 'unsafe-inline'; worker-src 'self'; child-src 'none'; object-src 'none'; frame-src 'self'; connect-src 'self'; script-src-elem 'self' 'unsafe-inline' https://static.cloudflareinsights.com;"
    Header always set   Referrer-Policy                 "strict-origin-when-cross-origin"
    Header always set   X-Content-Type-Options          "nosniff"
    Header always set   Permissions-Policy              "display-capture=(), screen-wake-lock=(self), payment=(), document-domain=(), publickey-credentials-get=(self), autoplay=(self), camera=(self), fullscreen=(self), microphone=(self), sync-xhr=(self), accelerometer=(), geolocation=(), gyroscope=(), magnetometer=(), encrypted-media=(), picture-in-picture=(), web-share=()"
</IfModule>