/**
 *
 * 'Connection status'-related styles
 *
 **/

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    background-color: var(--background-blend);
    height: var(--page-margin);
    position: relative;
    background: var(--background-blend);
    z-index: 2;
    margin: calc(-1 * var(--page-margin));
    margin-bottom: 0px;
    animation: slideIn 0.1s linear forwards;
}

@keyframes slideIn {
    from {
        max-height: 0px;
        padding: 4px 0px;
        content-visibility: hidden;
    }
    to {
        max-height: var(--page-margin);
        padding: 10px 0px;
        content-visibility: visible;
    }
}

.box .text {
    font-size: 15px;
    font-weight: 600;
    height: fit-content;
    color: var(--background-bold);
    margin: 8px;
}

.box .icon {
    --svg-color: var(--background-bold);
    margin: 0px;
    width: 18px;
    height: 18px;
}