/**
 *
 * The style of general components
 *
**/


/* Titles */

.pageTitle {
    margin-top: 0px;
}

.pageDescription {
    font-weight: normal;
    margin-top: 0px;
    color: var(--text-color-faint);
}


/* Buttons */

.button {
    font-size: 15px;
    line-height: 1.5em;
    padding: 15px 30px;
    margin: 4px;
    border: solid 1px transparent;
    border-radius: 15px;
    background-color: var(--accent-color-faint);
    width: fit-content;
    transition: box-shadow 0.12s;
    color: var(--accent-color);
    /* Make buttons unselectable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    /* Remove underline from links! */
    text-decoration: none;
    font-weight: 500;
    text-align: left;
}

.button.primarybutton {
    background-color: var(--accent-color);
    color: white;
}

.button.lightButton {
    background-color: transparent;
}

.button.primarybutton[disabled],
.button.primarybutton[disable=true],
.button[disabled],
.button[disable=true] {
    transition: all 0.0s linear!important;
    color: var(--background-bold) !important;
    box-shadow: none !important;
    border-color: transparent !important;
    pointer-events: none;
}

.button.primarybutton[disabled],
.button.primarybutton[disable=true] {
    background-color: var(--background-blend) !important;
}

.button[disabled],
.button[disable=true] {
    background-color: transparent !important;
}

.button.primarybutton:hover,
.button.primarybutton:focus,
.button.lightButton:hover,
.button.lightButton:focus {
    box-shadow: -2px 2px 5px var(--accent-color-lighter), 2px 2px 5px var(--accent-color-lighter);
    transition: border 0s linear;
}

.button:hover,
.button:focus {
    transition: border 0.1s;
    border-color: var(--accent-color);
    outline: none;
}

.button.lightButton:hover,
.button.lightButton:focus {
    box-shadow: none;
    border-color: transparent;
    background-color: var(--accent-color-faint);
    outline: none;
}

.button:active {
    background-color: var(--accent-color-lighter);
}

.button.primarybutton:active {
    background-color: var(--accent-color-active);
}

.button.lightButton:active {
    background-color: var(--accent-color-lighter);
    box-shadow: -2px 2px 5px var(--accent-color-faint), 2px 2px 5px var(--accent-color-faint);
}

.button.smallButton {
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 600;
}

.button.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button.iconButton .buttonIcon {
    display: inline-block;
    overflow: hidden;
    margin-left: 6px;
    height: 28px;
    width: 28px;
    min-width: 28px;
    max-width: 28px;
    min-height: 28px;
}

.button.iconButton .buttonIcon img,
.button.iconButton .buttonIcon svg {
    height: inherit;
    width: inherit;
    border-style: none;
    padding: 0px;
    margin: 0px auto;
}

.button.iconButton .buttonIcon svg {
    --svg-color: var(--accent-color);
}

.button.iconButton.primarybutton .buttonIcon svg {
    --svg-color: white;
}

.button.iconButton[disabled] .buttonIcon svg,
.button.iconButton[disable=true] .buttonIcon svg {
    --svg-color: var(--background-bold);
}

.button.iconButton .iconButtonText {
    display: inline-block;
    margin-right: auto;
    margin-left: 12px;
}

.svgButton {
    --svg-color: var(--background-bold);
    cursor: pointer;
}

.svgButton:hover,
.svgButton:active {
    --svg-color: var(--accent-color);
}


/* Text input fields */

.inputFieldContainer,
.selectContainer {
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    margin: 16px 4px;
    margin-top: 20px;
    font-size: 15px;
    padding: 0px;
    position: relative;
}

.inputFieldContainer .inputFieldLabel,
.selectContainer .selectLabel {
    color: var(--background-bold);
    position: absolute;
    font-size: 15px;
    margin-top: 17px;
    margin-left: 11px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
    padding: 0px 6px;
    transition: margin 0.1s;
    left: 0px;
    top: 0px;
    font-weight: 500;
}

.inputField::placeholder {
    user-select: none;
}

.inputField::-webkit-input-placeholder {
    user-select: none;
}

.inputField::-moz-placeholder {
    user-select: none;
}

.inputField::-ms-clear,
.inputField::-ms-reveal {
    display: none;
}

.selectContainer .selectHint,
.inputFieldContainer .inputFieldHint {
    max-width: 100%;
    height: fit-content;
    text-align: left;
    font-size: inherit;
    padding: 5px;
    padding-top: 9px;
    opacity: 0.8;
}

.selectContainer .selectDataContainer:focus-within .selectLabel,
.selectField:valid~.selectLabel,
.inputFieldContainer .inputFieldDataContainer:focus-within .inputFieldLabel,
.inputField:not(:placeholder-shown):not(:focus)+.inputFieldLabel {
    color: var(--accent-color);
    margin-top: -12px;
    background-color: var(--main-background);
}

.selectField:valid:not(:focus)~.selectLabel,
.inputField:not(:placeholder-shown):not(:focus)+.inputFieldLabel {
    color: var(--background-bold);
}

.selectContainer .selectDataContainer .selectField,
.inputField {
    font-size: inherit;
    padding: 15px 16px;
    border: solid 2px var(--background-blend);
    background-color: var(--background-blend);
    border-bottom: solid 2px var(--background-bold);
    border-radius: 10px;
    color: var(--text-color);
    width: calc(100% - 4px - 16px - 16px);
}

.inputFieldContainer .inputFieldDataContainer,
.selectContainer .selectDataContainer {
    position: relative;
}

.selectContainer .selectDataContainer .selectField {
    appearance: none;
    cursor: pointer;
    width: 100%;
}

.selectContainer .selectDataContainer .selectFieldArrow {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10px;
    top: calc((100% - 25px) / 2);
    --svg-color: var(--background-bold);
    pointer-events: none;
    background-color: var(--background-blend);
}

.selectContainer .selectDataContainer:focus-within .selectFieldArrow {
    --svg-color: var(--accent-color);
    background-color: var(--main-background);
}

.selectField:valid+.selectFieldArrow {
    background-color: var(--main-background);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.selectContainer .selectDataContainer .selectField:focus,
.selectContainer .selectDataContainer .selectField:valid,
.inputField:focus,
.inputField:not(:placeholder-shown) {
    border: solid 0px transparent;
    background-color: var(--main-background);
    border: solid 2px var(--accent-color);
    outline: none;
}

.selectContainer .selectDataContainer .selectField:valid:not(:focus),
.inputField:not(:placeholder-shown):not(:focus) {
    border-color: var(--background-bold);
}

.inputFieldContainer .inputFieldDataContainer .inputErrorIcon {
    width: 22px;
    height: 22px;
    --svg-color: var(--error-color);
    position: absolute;
    right: 16px;
    top: calc((53px - 22px) / 2);
    display: none;
    pointer-events: none;
}

.inputFieldContainer.invalidData .inputFieldDataContainer .inputErrorIcon {
    display: block;
}

.inputFieldContainer.invalidData .inputFieldDataContainer:focus-within .inputErrorIcon {
    display: none;
}

.invalidData .inputFieldDataContainer .inputField {
    border-bottom: solid 2px var(--error-color);
}

.invalidData .inputFieldLabel {
    color: var(--error-color) !important;
}

.invalidData .inputField {
    border-color: var(--error-color) !important;
}

.inputFieldContainer.invalidData .inputFieldHint {
    font-weight: 600;
    opacity: 1;
}

.inputFieldContainer.invalidData .inputFieldHint,
.inputFieldContainer.invalidData .inputFieldHint * {
    color: var(--error-color);
}


/* <Notice> */

.notice {
    max-width: 100%;
    height: fit-content;
    text-align: left;
    font-size: 16px;
    padding: 4px;
    margin: 18px 0px;
}

.notice+.notice {
    margin-top: 0px;
}

.notice,
.notice text {
    color: var(--text-color-faint);
}

.notice.smallerNotice {
    font-size: 14px;
    padding: 8px;
    margin: 0px;
}

.notice.centerNotice {
    text-align: center;
}


/* <Mark> */

.mark {
    display: inline-block;
    color: var(--accent-color);
}


/* <FlexContainer> */

.flexContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 18px;
    max-width: 100%;
}

@media (pointer:none),
(pointer:coarse),
screen and (max-width: 920px),
screen and (max-height: 450px) {
    .flexContainer {
        margin: 18px 0px;
    }
}

.flexContainer.spaceBetween {
    justify-content: space-between;
}

.flexContainer.spaceAround {
    justify-content: space-around;
}

.flexContainer.horizontal {
    flex-direction: row;
    height: fit-content;
    max-width: 100%;
    width: 100%;
}

.flexContainer.noFlexGrow {
    flex-grow: 0;
}


/* <Link> */

.link {
    font-weight: bold;
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-style: dashed;
}


/* <CheckBox> */

.checkBoxContainer {
    font-size: inherit;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
}

.checkBoxContainer .checkBox {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* Not removed via appearance */
    margin: 0;
    font-size: inherit;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: solid 2px var(--background-bold);
    background-color: transparent;
    border-radius: 5px;
}

.checkBoxContainer .checkBox:focus {
    outline: 5px solid var(--background-blend);
    outline-offset: 0px;
}

.checkBoxContainer .checkBox:active {
    transition: border 0.2s;
    border-color: var(--accent-color);
}

.checkBoxContainer .checkBox:checked {
    transition: background-color 0.2s, border 0.26s;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}


/*.checkBoxContainer .checkBox::before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    margin: 2px;
    background-color: var(--background-bold);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: rotate(8deg);
    opacity: 0;
}

.checkBoxContainer .checkBox:checked::before {
    transition: background-color 0.1s, opacity 0.05s;
    opacity: 1;
    background-color: white;
}*/

.checkBoxContainer .checkBox::before {
    content: "";
    display: block;
    transform: rotate(45deg);
    height: 8px;
    width: 4px;
    margin: 1px 4px;
    border-bottom: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
    opacity: 0;
}

.checkBoxContainer .checkBox:checked::before {
    transition: border 0.16s;
    opacity: 1;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

.checkBoxContainer label {
    font-size: inherit;
    width: fit-content;
    height: 1.2em;
    cursor: pointer;
    line-height: 1em;
    padding-left: 0.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* <Radio> */

.radioContainer {
    font-size: inherit;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: left;
    font-weight: inherit;
    margin: 10px 6px;
}

.radioContainer .radio {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid var(--background-bold);
    position: relative;
    transition: border 0.1s;
    background-color: transparent;
    margin-right: 10px;
}

.radioContainer .radio:before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    margin: 8px;
    border-radius: 100%;
    background-color: var(--accent-color);
    opacity: 0;
}

.radioContainer .radio:focus {
    outline: 5px solid var(--background-blend);
    outline-offset: 0px;
}

.radioContainer .radio:checked {
    border-color: var(--accent-color);
}

.radioContainer .radio:checked:before {
    transition: all 0.1s linear, opacity 0s linear;
    width: 8px;
    height: 8px;
    margin: 4px;
    opacity: 1;
}

.radioContainer .radioLabel {
    font-size: inherit;
    line-height: 24px;
}


/* <Divider> */

.divider {
    width: 100%;
    height: 0px;
    border: none;
    border-bottom: solid 2px var(--background-bold);
    margin: 18px 0px;
    opacity: 0.3;
}


/* <Dialog> */

.dialogTrap {
    display: block;
    position: fixed;
    inset: 0;
    z-index: 100;
    max-height: calc(100 * var(--vh));
    overflow: hidden scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;
}

.dialogTrap::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.dialogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dialog-container-background);
    height: calc(100 * var(--vh) + 1px);
}

.dialogContainer .dialogBox {
    width: 360px;
    max-width: calc(100% - 2 * var(--page-margin) - 3 * 24px);
    max-height: 80%;
    min-height: 50px;
    height: fit-content;
    background-color: var(--dialog-background);
    box-shadow: 0px 2px 4px var(--dialog-shadow);
    border-radius: 18px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    transform: scale(0.94);
    animation-name: fadeInDialogBox;
    animation-timing-function: ease-out;
    animation-duration: 0.1s;
    animation-delay: 0.01s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes fadeInDialogBox {
    from {
        transform: scale(0.94);
    }
    to {
        transform: scale(1);
    }
}

.dialogContainer .dialogBox .dialogText {
    flex-grow: 1;
    text-align: left;
    opacity: 0.9;
}

.dialogContainer .dialogBox .dialogText .dialogTitle {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 12px 0px;
}

.dialogContainer .dialogBox .dialogText .dialogDescription {
    display: block;
    font-size: 15px;
    font-weight: 200;
    margin: 8px 0px;
    max-height: calc(50 * var(--vh));
    overflow: hidden auto;
    overscroll-behavior: contain;
}

.dialogContainer .dialogBox .dialogContent {
    margin-top: 12px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    height: fit-content;
}


/* <SearchBox> */

.searchBoxContainer {
    position: relative;
    height: fit-content;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    max-width: 500px;
    z-index: 2;
}

.searchBoxContainer .searchBox {
    background-color: var(--background-blend);
    border: none;
    font-size: 16px;
    padding: 12px 20px;
    padding-left: calc(20px + 16px + 6px);
    border-radius: 10px;
    outline: none;
    margin: 18px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    max-width: 500px;
    color: var(--text-color);
    border: solid 2px var(--background-blend);
    position: relative;
    z-index: 2;
}

.searchBoxContainer .searchBox::placeholder {
    color: var(--background-bold);
}

.searchBoxContainer:focus-within .searchBox {
    background-color: var(--main-background);
}

.searchBoxContainer[data-results-visible=true] .searchBox {
    border-radius: 10px 10px 0px 0px;
}

.searchBoxContainer .searchIcon,
.searchBoxContainer .backIcon {
    width: 24px;
    height: 24px;
    --svg-color: var(--background-bold);
    position: absolute;
    top: 22px;
    left: 22px;
    padding: 8px;
    z-index: 10;
}

.searchBoxContainer .searchIcon {
    pointer-events: none;
}

.searchBoxContainer .backIcon {
    display: none;
    cursor: pointer;
}

.searchBoxContainer:not(:focus-within) .searchBoxResultsContainer,
.searchBoxContainer[data-results-visible=false] .searchBoxResultsContainer {
    display: none;
}

.searchBoxContainer .searchBoxResultsContainer {
    position: absolute;
    top: 47px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    background-color: var(--main-background);
    border: solid 2px var(--background-blend);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 2px var(--background-blend);
    animation-name: fadeInSearchBox;
    animation-timing-function: ease-out;
    animation-duration: 0.12s;
    outline: none;
    max-height: calc(var(--vh)*100 - var(--page-margin) * 2 - var(--globalbar--height) - var(--globalfooter--height) - 100px);
}

.searchBoxContainer .searchBoxResultsContainer .searchBoxResultsContent {
    padding: var(--page-margin);
}

.searchBoxContainer .searchBoxResultsContainer .searchBoxLoading {
    margin: 34px;
}

@keyframes fadeInSearchBox {
    from {
        top: 42px;
        opacity: 0;
    }
    to {
        top: 47px;
        opacity: 1;
    }
}

@media (pointer:none),
(pointer:coarse),
screen and (max-width: 920px),
screen and (max-height: 450px) {
    .searchBoxContainer[data-results-visible=true]:before {
        content: "";
        display: block;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-color: var(--main-background);
    }
    .searchBoxContainer .searchBoxResultsContainer {
        min-width: calc(100vw - 2*2px);
        margin: 0px;
        position: fixed;
        top: calc(var(--globalbar--height) + var(--page-margin));
        right: 0px;
        left: 0px;
        animation: unset;
        height: calc(var(--vh)*100 - var(--globalbar--height) - var(--page-margin));
        max-height: unset;
        border-color: transparent;
    }
    .searchBoxContainer[data-results-visible=true] .searchIcon {
        display: none;
    }
    .searchBoxContainer[data-results-visible=true] .backIcon {
        display: block;
        top: calc(var(--page-margin) + (var(--globalbar--height) - 40px) / 2);
    }
    .searchBoxContainer[data-results-visible=true] .searchBox {
        margin-top: calc(var(--page-margin) + (var(--globalbar--height) - 49px) / 2);
        border-radius: 10px;
    }
    .searchBoxContainer[data-results-visible=true] {
        background-color: var(--main-background);
        position: fixed;
        top: 0px;
        animation-name: searchBoxIn;
        animation-timing-function: ease-out;
        animation-duration: 0.06s;
        animation-fill-mode: forwards;
        margin: 0px var(--page-margin);
    }
    @keyframes searchBoxIn {
        from {
            position: fixed;
            top: 12px;
        }
        to {
            position: fixed;
            top: 0px;
        }
    }
    .searchBoxContainer:not(:focus-within):not([data-results-visible=false]) .searchBoxResultsContainer {
        display: flex;
    }
}


/* <UserMessage> */

.userMessage {
    background-color: var(--accent-color-faint);
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    margin: 12px;
    border-radius: 12px;
    justify-content: center;
    align-items: start;
    padding: 8px;
}

.userMessage.warning {
    --accent-color: var(--warn-color);
    --accent-color-faint: var(--warn-color-faint);
}

.userMessage.urgent {
    --accent-color: var(--error-color);
    --accent-color-faint: var(--error-color-faint);
}

.userMessage .icon,
.userMessage .closeIcon {
    width: 28px;
    min-width: 28px;
    height: 28px;
    display: inline;
    margin: 14px 4px;
    margin-right: 8px;
    --svg-color: var(--accent-color);
}

.userMessage .content {
    display: inline;
    width: 100%;
    text-align: left;
    margin: auto;
    padding: 6px 0px;
    padding-bottom: 7px;
    margin-right: 4px;
}

.userMessage .content .text {
    display: inline;
    margin-right: auto;
}

.userMessage .content .links {
    margin: 0px;
    margin-top: -1px;
    width: fit-content;
    line-height: 1em;
    display: inline;
}

.userMessage .closeIcon {
    width: 24px;
    min-width: 24px;
    height: 32px;
    padding: 0px 4px;
    cursor: pointer;
}


/* <NavBar> */

.navBar {
    --narbar-background-color: var(--main-background);
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    min-height: 45px;
    margin: 12px 0px;
    margin-bottom: 2px;
    padding-bottom: 10px;
    position: sticky;
    top: calc(var(--globalbar--height) - 22px);
    background-color: var(--narbar-background-color);
    z-index: 1;
}

.navBar[data-sticky=true] {
    box-shadow: 0 4px 18px var(--narbar-background-color);
}

@media (pointer:none),
(pointer:coarse),
screen and (max-width: 920px),
screen and (max-height: 450px) {
    .navBar {
        width: 100vw;
    }
    .navBar[data-sticky=true] {
        --narbar-background-color: var(--globalbar-background);
    }
}

.navBar .startShadow,
.navBar .endShadow {
    position: absolute;
    display: block;
    width: calc(var(--page-margin) + 60px);
    height: calc(100% + 20px);
    top: -10px;
}

.navBar .startShadow .icon,
.navBar .endShadow .icon {
    width: 24px;
    height: 24px;
    --svg-color: var(--background-bold);
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
}

.navBar .startShadow {
    background-image: radial-gradient(farthest-side at 0% 50%, var(--narbar-background-color) 60%, transparent 100%);
    left: 0px;
}

.navBar .endShadow {
    background-image: radial-gradient(farthest-side at 100% 50%, var(--narbar-background-color) 60%, transparent 100%);
    right: 0px;
}

.navBar .navLinks {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: 29px;
    max-height: 29px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    padding: 8px var(--page-margin);
    scroll-snap-type: x mandatory;
}

.navBar .navLinks::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.navBar .navLinks .navOption:first-child {
    margin-left: 16px;
    padding-left: 0px;
}

.navBar .navLinks .navOption:last-child {
    margin-right: 16px;
    padding-right: 0px;
}

.navBar .navLinks .navOption {
    padding: 4px 12px;
    margin: 0px 6px;
    text-decoration: none;
    display: inline-block;
    color: var(--background-bold);
    font-weight: 600;
    scroll-snap-align: center;
    font-size: 15px;
}

.navBar .navLinks .navOption[selected] {
    color: var(--accent-color);
}

.navBar .navLinks .navOption::after {
    content: "";
    display: none;
    width: calc(100% - 16px);
    height: 18px;
    background: var(--accent-color-faint);
    margin: -14px auto;
    min-width: 34px;
    border-radius: 14px 14px 8px 8px;
    animation: popInNav linear 0.2s;
    position: relative;
    z-index: -1;
}

.navBar .navLinks .navOption[selected]::after {
    display: block;
}

@keyframes popInNav {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}