/**
 *
 * The style of the global bar and its elements
 *
**/

.globalbar {
    height: var(--globalbar--height);
    transition: all 0.1s;
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: -1px;
    background-color: var(--main-background);
    margin: 0px calc(-1 * var(--page-margin));
    padding: 0px var(--page-margin);
}

.globalbar[data-sticky=true] {
    transition: margin 0.12s ease-in-out, height 0.12s ease-in-out;
    height: calc(var(--globalbar--height) - 20px);
    margin-bottom: 20px;
    box-shadow: 0 4px 18px var(--main-background);
}

@media (pointer:none),
(pointer:coarse),
screen and (max-width: 920px),
screen and (max-height: 450px) {
    .globalbar[data-sticky=true] {
        box-shadow: 0 4px 18px var(--globalbar-background);
        background-color: var(--globalbar-background);
    }
}

.globalbar[data-prioritize=true] {
    z-index: 5;
}

.globalbar[disabled] {
    opacity: 1;
}

.globalbar[data-show-content=true] {
    /*animation: fadeInMainFull 2s cubic-bezier(0.87, 0.02, 0.01, 1) forwards;*/
    animation: fadeInMainFull 1.5s cubic-bezier(0.8, 0.05, 0, 1) forwards;
}

@keyframes fadeInMainFull {
    0% {
        flex-grow: 1;
    }
    25%,
    50% {
        flex-grow: 1;
    }
    100% {
        flex-grow: 0;
    }
}

.userprofile {
    width: 68px;
    height: 68px;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0.4;
    position: absolute;
}

.globalbar[data-show-content=false] .userprofile {
    animation: fadeInPP 3s ease forwards;
}

.globalbar[data-show-content=true] .userprofile {
    animation: fadeInPPFull 2s cubic-bezier(0.87, 0.02, 0.01, 1) forwards;
}

.globalbar[data-sticky=true] .userprofile {
    transition: width 0.12s ease-in-out, height 0.12s ease-in-out;
    width: 58px;
    height: 58px;
}

.userProfileImage {
    border-radius: 100%;
    width: inherit;
    height: inherit;
}

.globalbar[data-show-content=false] .userProfileImage {
    animation: opacityInOut 2s ease-in-out infinite forwards;
}

@keyframes opacityInOut {
    0% {
        opacity: 0.52;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.52;
    }
}

@keyframes fadeInPP {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(0.75);
    }
}

@keyframes fadeInPPFull {
    0% {
        opacity: 0.4;
        transform: scale(0.74);
    }
    25%,
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.globalbar .leftControls {
    margin-right: auto
}

.globalbar .rightControls {
    margin-left: auto;
}

.globalbar .rightControls,
.globalbar .leftControls {
    opacity: 0;
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1.1s;
    max-width: calc((100% - 70px) / 2 - 5px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.globalbar .rightControls svg,
.globalbar .leftControls svg {
    height: 28px;
    width: 28px;
    margin: 6px;
    --svg-color: var(--text-color);
    --svg-color-2: var(--accent-color);
    display: inline-block;
    cursor: pointer;
}

.globalbar .rightControls .bellContainer {
    display: inline-block;
    cursor: pointer;
    margin: 6px;
}

.globalbar .rightControls .bellContainer svg {
    margin: 0px;
}

.globalbar svg {
    position: relative;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 0 0 4px transparent;
    transition: background-color 0.08s, opacity 0.1s, box-shadow 0.08s;
    overflow: visible;
}

.globalbar svg:hover,
.globalbar svg:active {
    background-color: var(--background-blend);
    box-shadow: 0 0 0 4px var(--background-blend);
}

.globalbar svg:active {
    opacity: 0.6;
}

.globalbar .rightControls .bellContainer[data-pin=true] .bell,
.globalbar .rightControls .bellContainer[data-pin=false] .bellPin {
    display: none;
}

.globalbar[data-show-content=false] .leftControls,
.globalbar[data-show-content=false] .rightControls,
[data-display-mode=tab] .globalbar .leftControls .navControl {
    display: none;
}

.globalbar .leftControls .navControl,
.globalbar .leftControls .otherControl {
    display: inline-block;
    margin: 6px;
}

.globalbar .leftControls .navControl svg:first-child,
.globalbar .leftControls .otherControl svg:first-child {
    margin-left: 0px;
}

.globalbar .leftControls .navControl svg:last-child,
.globalbar .leftControls .otherControl svg:last-child {
    margin-right: 0px;
}

.globalbar[data-show-content-finished=true] .rightControls,
.globalbar[data-show-content-finished=true] .leftControls {
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.globalbar .rightControls[data-signed-in=false] {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
        padding: 0px 3px;
    }
    to {
        padding: 0px;
        opacity: 1;
        transform: scale(1);
    }
}

.globalbar[data-processing=true] .leftControls,
.globalbar[data-processing=true] .rightControls {
    opacity: 0.4 !important;
    pointer-events: none !important;
}

.globalbar .helpContainer,
.globalbar .alertsContainer {
    display: none;
    position: absolute;
    z-index: 50;
    top: 60px;
    left: 0px;
    background-color: var(--main-background);
    box-shadow: 0px 2px 2px var(--background-blend);
    border: solid 2px var(--background-blend);
    border-radius: 10px;
    width: 350px;
    height: fit-content;
    max-height: 450px;
    min-height: 172px;
    overflow: hidden;
    animation-name: fadeInBox;
    animation-timing-function: ease-out;
    animation-duration: 0.12s;
    justify-content: center;
    align-items: center;
}

.globalbar .alertsContainer {
    left: unset;
    right: 0px;
}

.globalbar .helpContainer iframe,
.globalbar .alertsContainer iframe {
    border: none;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}

.globalbar .helpContainer iframe:not([data-loaded=true]),
.globalbar .alertsContainer iframe:not([data-loaded=true]) {
    display: none;
}

.globalbar .helpContainer[data-show=true],
.globalbar .alertsContainer[data-show=true] {
    display: flex;
}

@keyframes fadeInBox {
    from {
        top: 55px;
        opacity: 0;
    }
    to {
        top: 60px;
        opacity: 1;
    }
}