/**
 *
 * The style of the global footer and its elements
 *
**/

.globalfooter {
    min-height: var(--globalfooter--height);
    height: fit-content;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    opacity: 0;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.globalfooter,
.globalfooter text {
    color: var(--background-bold);
}

.globalfooter[data-show-content=true] {
    animation: opacityIn 0.1s ease-in-out forwards;
    animation-delay: 1.65s;
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: unset;
    }
}

.link {
    text-decoration: none;
    color: inherit;
    margin: 0px 8px;
}

.icon {
    --svg-color: var(--background-bold);
    width: 13px;
    height: 13px;
    padding: 3px;
    cursor: pointer;
    margin: 0px 4px;
}